In [1]:
import pandas as pd

In [6]:
dados_mb51 = pd.read_excel('dados/mb51_analise_movimentos_1.xlsx', dtype={'Doc.material':'string', 'Ordem':'string'})

In [7]:
dados_mb51.head()

,Material,Centro,Depósito,Tipo de movimento,Estoque especial,Doc.material,Item doc.material,Data de lançamento,Hora do registro,Qtd. UM registro,UM registro,Referência,Ordem,Lote,Nome do usuário,Texto breve material
0,SE0024,P703,SA1,261.0,NaN,4902515519,1.0,2022-06-01,10:34:08,-150.400,KG,LOP3100000115134,1000026826,0000338218,SP3EMBA01,"PELICULA DE PLASTICO ST 500X0,025MM"
1,SZ0357,P703,SA1,261.0,NaN,4902515180,1.0,2022-06-01,10:14:02,-192.360,KG,LOP3100000115124,1000026796,515736,SP3EMBA01,"PELICULA DE PLASTICO ST 500X0,025MM"
2,SE0024,P703,SA1,261.0,NaN,4902515167,2.0,2022-06-01,10:13:37,-221.710,KG,LOP3100000115122,1000029172,0000120492,SP3EMBA02,"PELICULA DE PLASTICO ST 500X0,025MM"
3,SE0024,P703,SA1,261.0,NaN,4902515167,1.0,2022-06-01,10:13:37,-105.290,KG,LOP3100000115122,1000029172,0000336925,SP3EMBA02,"PELICULA DE PLASTICO ST 500X0,025MM"
4,SZ0357,P703,SA1,261.0,NaN,4902514907,3.0,2022-06-01,09:55:56,-82.368,KG,LOP3100000115204,1000022645,515736,SP3EMBA01,"PELICULA DE PLASTICO ST 500X0,025MM"

In [35]:
dados_mb51.dropna(subset=['Material'], inplace=True)

In [22]:
dados_mb51.keys()

Index(['Material', 'Centro', 'Depósito', 'Tipo de movimento',
       'Estoque especial', 'Doc.material', 'Item doc.material',
       'Data de lançamento', 'Hora do registro', 'Qtd.  UM registro',
       'UM registro', 'Referência', 'Ordem', 'Lote', 'Nome do usuário',
       'Texto breve material'],
      dtype='object')

In [11]:
lista_itens = dados_mb51['Material'].unique()
print('Itens: ',lista_itens)
lista_depositos = dados_mb51['Depósito'].unique()
print('Depósitos: ',lista_depositos)
lista_movimentos = dados_mb51['Tipo de movimento'].unique()
print('Movimentos: ',lista_movimentos)

Itens:  ['SE0024' 'SZ0357' 'SA0192' 'SA0191' nan]
Depósitos:  ['SA1' '005' nan]
Movimentos:  [261. 411. 262. 601. 712. 343. 321. 101. 344. 325. 711. 602. 311. 350.
 561.  nan]

In [16]:
dados_mb51['Tipo de movimento'].sum()

8601548.0

In [36]:
dados_mb51.query('Material.isna()')

Empty DataFrame
Columns: [Material, Centro, Depósito, Tipo de movimento, Estoque especial, Doc.material, Item doc.material, Data de lançamento, Hora do registro, Qtd.  UM registro, UM registro, Referência, Ordem, Lote, Nome do usuário, Texto breve material]
Index: []

In [38]:
for i in lista_itens:
    query = dados_mb51.query('Material == "'+i+'"')['Qtd.  UM registro'].sum()
    print ('Qtd {}: {}'.format(i, query))

Qtd SE0024: 108522.683
Qtd SZ0357: 110418.821
Qtd SA0192: 169049.26
Qtd SA0191: 144144.5

TypeError: can only concatenate str (not "float") to str